<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

        <flux:form id="teufelsCptCntMap"
               label="TYPO3 :: gMaps"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">
 				
 				<flux:field.input name="latCenter" label="Center Latitude (only use by one pin)" />
		        <flux:field.input name="lonCenter" label="CenterLongitude (only use by one pin)" />
		        <flux:field.select name="zoom" label="Zoomlevel (only use by one pin)"
			        	 items="{
	                           0:{0:'5',1:'5'},
	                           1:{0:'6',1:'6'},
	                           2:{0:'7',1:'7'},
	                           3:{0:'8',1:'8'},
	                           4:{0:'9',1:'9'},
	                           5:{0:'10',1:'10'},
	                           6:{0:'11',1:'11'},
	                           7:{0:'12',1:'12'},
	                           8:{0:'13',1:'13'},
	                           9:{0:'14',1:'14'},
	                           10:{0:'15',1:'15'},
	                           11:{0:'16',1:'16'},
	                           12:{0:'17',1:'17'},
	                           13:{0:'18',1:'18'}
	                           }" />
		
				<flux:form.section name="markers" label="Markers">
		            <flux:form.object name="marker" label="Marker_{iteration.index}">
		                <flux:field.checkbox name="disable_" label="Disable" />
		                <flux:field.input name="lat" label="Latitude" />
		                <flux:field.input name="lon" label="Longitude" />
		                <flux:field.text name="richText" label="Info Text"/>
		                <flux:field.input name="targetText" label="Linktext" />
		                <flux:field.input name="target" label="Link">
		                    <flux:wizard.link/>
		                </flux:field.input>
		                <flux:field.select name="pin" label="Pin"
		                	items="{
	                           0:{0:'Pin normal',1:'pin'},
	                           1:{0:'Pin left',1:'pin_sleft'},
	                           2:{0:'Pin right',1:'pin_sright'},
	                           3:{0:'Own Pin',1:'pin_own'}
	                           }" />
	                    	<f:comment>
	                     		<flux:field.custom name="customXs">{markers.1.marker.pin} {f:cycle(values: {foo: 'bar'}, as: 'foo')} <f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">{zebraClass}</f:cycle> <f:cycle values="{0:0,1:1,2:2,3:3}" as="cycle">{cycle}</f:cycle> {markers -> f:count()}</flux:field.custom>
	                      	 	</f:comment>
	                      	 <flux:field.input name="color" label="Color (Hex)" default="000000"/>
	                     
	                      	 <flux:field.input name="ownPin" label="Eigener Pin">
	                      	  	<flux:wizard.link activeTab="file" allowedExtensions="png"/>
		                	</flux:field.input>	
	                      
	                    
		                   
		            </flux:form.object>
		        </flux:form.section>
					        
			
		       

            
        </flux:form>
    </f:section>

    <f:section name="Preview">

    </f:section>



    <f:section name="Main">
    	
    	<!-- map html [begin] -->
        <div class="map_wrap position_relative">
            <button class="btn btn-default position_absolute activateMap" style="top:10px;right:10px;z-index:100;"><span>Karte aktivieren</span><span style="display:none;">Karte deaktivieren</span></Button>
            <div class="map_overlay position_absolute" style="width:100%;height:100%;z-index:99;"></div>
            <div id="map" style="width: 100%;height:600px;"></div>
        </div>
        <div class="divider"></div>
        <div class="clearfix"></div>
        <!-- map html [end] -->
    	
       <script>
       var mapLatCenter = {latCenter};
       var mapLonCenter = {lonCenter};
       var mapZoom = {zoom};
       var mapotions = {latCenter: mapLatCenter, lonCenter: mapLonCenter,zoom: mapZoom}
       var markers = [];
       	<f:for each="{markers}" as="sectionObject" iteration="iteration" key="index">
       		<f:if condition="{sectionObject.marker.disable_} != 1">
	       		var sLat = {sectionObject.marker.lat};
	       		var sLon = {sectionObject.marker.lon};
	       		var sMColor = '{sectionObject.marker.color}';
	       		var sPin = '{sectionObject.marker.pin}';
	       		<f:if condition="{sectionObject.marker.pin} == 'pin_own'">
	       		<f:then>
	       		var sPinOwn = "{v:uri.typolink( configuration: '{parameter: sectionObject.marker.ownPin}')}";
	       		</f:then>
	       		<f:else>
	       		var sPinOwn = "";
	       		</f:else>
	       		</f:if>
	       		/*Infowindow*/
	       		var sLinkHref = "{sectionObject.marker.target}";
                var sLink = (sLinkHref == '' ? '' : '<br/><br/><a href="{v:uri.typolink( configuration: '{parameter: sectionObject.marker.target}')}" target="_blank">{sectionObject.marker.targetText}</a>');
                var sInfoWindow = "<div>{f:format.htmlentitiesDecode(value: '{sectionObject.marker.richText}')} " + sLink + "</div>";
	       		
	       		markers[{index}] = {lat: sLat, lon: sLon, info: sInfoWindow, mColor: sMColor, pin: sPin, pinOwn: sPinOwn};
	       	</f:if>
         </f:for>
       </script>
    </f:section>

    


</div>
